@media  (min-width:120px) {
    
  }


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {

      display: inline-block;
    color: #050505;
     padding: 30px 16px;
    text-decoration: none;
    font-size: 32px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #83c1da;
    color: white;
  }

  .logo{
      
    display: flex;
    align-items: center;
    height: 4px;
    box-sizing: border-box;
  }

.innerbox{
    padding: 0px 50px;
    border-right: 1px solid #ebebeb;
    height: 8px;
}
  main{
    background-color: lightblue;
  }
  .marq{
    height:650px;
    height:700px;
  }